
@media screen and (max-width: 700px) {
    ul.promotions.horizontal.precos-imbativeis {
        width: 100vw !important;
        display: flex !important;
        overflow-x: auto;
        justify-content: left;
    }
    ul.promotions.horizontal.precos-imbativeis li {
        flex: none;
        width: 300px !important;
    }
    ul.promotions.horizontal.precos-imbativeis li a {
        width: 300px;
        height: 100%;
    }
}
