.vc_separator.vc_sep_double {
    margin-top: 10px;
    height: 20px;
}

.vc_row.wpb_row.vc_row-fluid.fullsection.precos-imperdiveis {
    padding: 20px 0px;
}

@media screen and (max-width: 700px) {
    html .vc_row-fluid.fullsize,
    .titulo_Pagina{
        padding: 0px !important;
    }
    .vc_separator.vc_sep_double {
        margin-top: 10px !important;
    }
    .article-ofertas-promocionais section {
        width: 100vw !important;
        display: flex !important;
        overflow-x: auto;
        justify-content: left;
    }
    .article-ofertas-promocionais section a {
        flex: none;
        margin-left: 15px;
    }
    a.link-aereo {
        margin: 15px 10px !important;
    }
    .article-ofertas-promocionais .vc_column-inner .wpb_wrapper{
        margin: 1px 0px !important;
        width: 95% !important;
    }
    .article-ofertas-promocionais .vc_column-inner .wpb_wrapper h2 {
        font-size: 20px !important;
        padding: 0px !important;
        width: 140px !important;
    }
    /*
    .article-ofertas-promocionais section li a {
        width: 300px;
        height: 100%;
    }
    */
    .ofertas-pacotes-home h3.obs {
        font-size: 14px !important;
        font-weight: normal !important;
        height: 85px !important;
        display: table-cell;
        padding: 0px !important;
        top: 0px !important;
    }
}