/* Configuração da Pagina */

html .vc_row-fluid {
    z-index: -1;
}

.vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_double.vc_sep_pos_align_center.vc_separator-has-text h4 {
    font-size: 33px !important;
}

.espacamento-cv {
    padding: 15px 0px !important;
}

.espacamento-cv h2.vc_custom_heading {
    font-weight: 600;
}

.cv_apresentacao {
    padding: 0px 0px 20px 0px;
}

/* Configuração Section Banner*/

.cv_banner-principal>.vc_column-inner {
    max-width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.wpb_single_image.wpb_content_element.vc_align_center {
    margin-bottom: 0px;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0px;
}

ul#cv_banner_pacote {
    position: absolute;
    top: 87px;
    right: 200px;
}

ul#cv_banner_pacote li {
    list-style: none;
    ;
    font-size: 28px;
    line-height: 0px;
    color: #fe7000;
    text-shadow: 2px 2px 2px #000;
}

ul#cv_banner_pacote li h1 {
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

/* Configuração Pacote */

.esquerda {
    font-size: 45px;
    position: fixed;
    top: 24px;
    z-index: 1;
    cursor: pointer;
    height: 417px;
    background-color: #f5f5f5;
    opacity: 0.4;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.direita {
    font-size: 45px;
    position: relative;
    top: 0px;
    right: -566px;
    z-index: 1;
    cursor: pointer;
    height: 417px;
    background-color: #f5f5f5;
    opacity: 0.4;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    float: right;
}

.sliders-promo-pacotes ul.promotions.horizontal.slider {
    width: 100%;
    /* max-width: 500px; */
    height: 100%;
    /*max-height: 150px;*/
    position: relative;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    */
}

.sliders-promo-pacotes ul.promotions.horizontal.slider li {
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*
            opacity: 0;
            
    width: 300px !important;
    height: 352.8px;
    margin: 10px;
    background-color: #fff !important
    */
}

#sliders li.selected {
    opacity: 1;
}

.sliders-promo-pacotes ul.promotions.horizontal.slider li a {
    background-color: #fff !important;
}

.sliders-promo-pacotes figure {
    width: 300px !important;
    height: 169px !important;
    max-width: 300px !important;
}

.sliders-promo-pacotes figure img {
    width: 100% !important;
    height: 100% !important;
}

.night {
    position: relative;
    top: -150px;
    color: #fff;
    left: 224px;
    display: initial;
    padding: 5px;
}

.master_title {
    margin-top: -15px;
}

h2.title {
    width: 100%;
}

.titulo {
    padding: 5px;
    color: #2400f6 !important;
    text-align: justify;
    text-shadow: 0.05em 0.05em 0.1em black;
    font-weight: 300;
    font-size: 14px;
}

p.obs {
    margin: 0px;
    padding: 5px !important;
    text-align: justify;
    height: 60px;
}

.price {
    width: 100%;
    padding: 0px 5px 5px 5px;
    display: table !important;
}

span.price_conection {
    display: table-cell !important;
    vertical-align: middle !important;
    width: 83px !important;
}

strong.total {
    color: #fe7000 !important;
}

.bypersonal {
    margin: 8px 0;
    font-weight: 400;
    line-height: 16px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: left;
    font-size: 12px !important;
    color: #7d7d7d;
    padding: 0px 5px;
}

.atention {
    color: #777;
    font-size: 9px !important;
    font-weight: 700;
    letter-spacing: -.22px;
    padding: 0px 5px;
    text-align: left;
}

h1.tg_title {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    font-size: 44px;
    line-height: 60px;
    text-align: right;
    height: 372px;
}

/* Configuração Serviços */

.cv_ofertas-Servicos {
    padding-bottom: 15px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.cv_promo_servicos_1 {
    background-color: #f9e8e7;
    border: 1px solid #f90c51;
    border-radius: 12px;
    height: 100%;
    width: 30%;
    margin: 0px 5px;
}

.cv_promo_servicos_1 h2.vc_custom_heading {
    padding: 5px 0px;
    width: 310px;
    height: 64px;
    color: #000;
    font-weight: 500;
}

.cv_promo_servicos_2 {
    background-color: #e8d8ff;
    border: 1px solid #2400f6;
    border-radius: 12px;
    height: 100%;
    width: 30%;
    margin: 0px 5px;
}

.cv_promo_servicos_2 h2.vc_custom_heading {
    padding: 5px 0px;
    width: 310px;
    height: 64px;
    color: #000;
    font-weight: 500;
}

.cv_promo_servicos_3 {
    background-color: #fdf2e6;
    border: 1px solid #fe7000;
    border-radius: 12px;
    height: 100%;
    width: 30%;
    margin: 0px 5px;
}

.cv_promo_servicos_3 h2.vc_custom_heading {
    padding: 5px 0px;
    width: 310px;
    height: 64px;
    color: #000;
    font-weight: 500;
}

.cv_promo_servicos_4 {
    background-color: #e6daed;
    border: 1px solid #662e91;
    border-radius: 12px;
    height: 100%;
    width: 30%;
    margin: 0px 5px;
}

.cv_promo_servicos_4 h2.vc_custom_heading {
    padding: 5px 0px;
    width: 310px;
    height: 64px;
    color: #000;
    font-weight: 500;
}

.cv_service {
    width: 300px !important;
    margin: 0px auto !important;
}

.cv_service li {
    width: 300px !important;
    height: 352.8px !important;
    vertical-align: middle !important;
    display: table-cell !important;
    padding: 10px 0px;
}

.cv_service li a {
    background-color: #fff !important;
}

.cv_service figure {
    width: 300px !important;
    height: 169px !important;
    max-width: 300px !important;
}

.cv_service figure img {
    width: 100% !important;
    height: 100% !important;
}

.cv_service .master_title {
    margin: 0px;
}

.cv_service span.price_conection {
    width: 72px !important;
}

.cv_service .atention {
    padding-bottom: 5px !important;
}

.cv_nao_deixe_conhecer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cv_conheca_tambem {
    padding: 15px 0px;
}