/* Configuração da Pagina */
html .vc_row-fluid {
    z-index: 0;
}
.cv_banner-principal>.vc_column-inner{
    max-width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
html .vc_row-fluid{
    z-index: -1;
}

/* Configuração Section Banner*/
ul#cv_banner_pacote {
    position: absolute;
    top: 87px;
    right: 200px;
}
ul#cv_banner_pacote li{
    list-style: none;;
    font-size: 28px;
    line-height: 0px;
    color: #fe7000;
    text-shadow: 2px 2px 2px #000;
}
ul#cv_banner_pacote li h1 {
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

@media screen and (max-width: 700px) {
    .cv_banner-principal>.vc_column-inner>.wpb_wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .cv_banner-principal>.vc_column-inner figure.wpb_wrapper.vc_figure {
        padding-left: 0px;
        padding-right: 0px;
    }
}