/* ESTRUTURA DA SECTION */
.section-ofertas-promocionais .article-ofertas-promocionais .vc_column-inner .wpb_wrapper{
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}
.section-ofertas-promocionais .article-ofertas-promocionais .vc_column-inner .wpb_wrapper h2{
    width: 25%;
    font-size: 60px;
    font-weight: 500 !important;
    color: #777;
}
ul.ofertas-promocionais{
    width: 70%;
    overflow: scroll;
}
ul.ofertas-promocionais li{
    width: 300px !important;
}