/* Banner Rotativo */

.tp-bgimg.defaultimg {
    background-size: contain !important;
    height: 334px !important;
}

div#rev_slider_10_1_forcefullwidth {
    height: 100% !important;
}

.slotholder {
    height: 334px !important;
}

.tp-fullwidth-forcer {
    height: 100% !important;
}

#rev_slider_10_1 {
    height: 100% !important;
}

div#rev_slider_10_1_wrapper {
    height: 100% !important;
}

.vc_row.wpb_row.vc_row-fluid.fullsize.banner-rotativo {
    height: 295px !important;
}

/* *********************** */

.Ofertas-Especiais .vc_column-inner .wpb_wrapper {
    width: 80%;
    margin: 0px auto;
}

div#searchEngine {
    margin-top: -47px;
}

.NewMotors {
    max-width: 100% !important;
    background: #2400f6 !important;
}

.search_engine_v2 .tabs li {
    margin: 0px 1px;
}

.search_engine_v2.custom_engine .tabs li a {
    padding: 15px 17px !important;
    font-size: 12px !important;
    font-weight: 900 !important;
}

ul.tabs li {
    background-color: rgba(255, 255, 255, 0.6);
    color: #595959;
}

.search_engine_v2>.content {
    padding: 20px;
}

.comments {
    width: 0px !important;
    margin: 0px !important;
}

/* Aéreo */

.search_engine_v2.custom_engine.air .destination {
    width: 100% !important;
}

.search_engine_v2.custom_engine.air>.content .date {
    width: 50% !important;
}

/* Monte sua viagem */

.search_engine_v2>.content .advanced.settings {
    display: none;
}

.search_engine_v2.dynamicpackage .travelers > .content .travelers_ages .ages .passenger-container label.room {
    display: none;
}

@media screen and (max-width: 700px) {
    .NewMotors .wpb_column.vc_column_container.vc_col-sm-12 {
        background-color: #ebebeb !important;
        padding-bottom: 15px !important;
    }
    div#searchEngine {
        margin-top: 0px;
    }
    div#searchEngine {
        margin-top: 0px;
        width: 100%;
        padding: 0 0px 0px 0px !important;
    }
    .search_engine_v2 .tabs li.active a .ico:before {
        color: #fff !important;
    }
    #searchEngine.motor_tab_top.show_tabs .tabs {
        margin: 0px 0px 0px 0px !important;
        padding: 0 !important;
        border-radius: 0px !important;
        width: 100% !important;
        display: inline-flex !important;
        height: 65px !important;
        -webkit-box-shadow: 9px 7px 5px rgb(36 0 246 / 77%);
        -moz-box-shadow: 9px 7px 5px rgba(36, 0, 246, 0.77);
        box-shadow: 3px 5px 11px rgb(36 0 246 / 77%);
    }
    #searchEngine.motor_tab_top.show_tabs .tabs li {
        width: 22% !important;
        padding: 0px !important;
        height: 100% !important;
        background-color: #fff !important;
    }
    li.flight.searchEngineSel.active {
        width: 22% !important;
    }
    .search_engine_v2.custom_engine .tabs li a {
        padding: 10px 7px !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        color: #777 !important;
    }
    .search_engine_v2 .tabs li.service a .ico:before {
        color: #777 !important;
        margin-bottom: 7px !important;
    }
    .search_engine_v2 .tabs li.flight a .ico:before, .search_engine_v2 .tabs li.hotel a .ico:before, .search_engine_v2 .tabs li.package a .ico:before {
        color: #777 !important;
        margin-bottom: 7px !important;
    }
    .search_engine_v2 .tabs li.dynamicpackage a .ico:before {
        color: #777 !important;
        margin-bottom: 7px !important;
    }
    .search_engine_v2.custom_engine .tabs li.active a {
        background-color: #2400f6 !important;
        height: 100% !important;
        color: #fff !important;
    }
    #searchEngine .send {
        width: 30% !important;
    }
    a.clearSearchParams.clear {
        height: 21px !important;
        line-height: inherit !important;
        padding: 8px 0px !important;
        text-indent: 5px !important;
        text-indent: 0px !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        float: right !important;
        margin: 15px 0 0 !important;
        text-align: center !important;
        width: 30% !important;
        border-radius: 5px !important;
    }
    .search_engine_v2>.content .advanced.settings {
        display: none;
    }
    /* Preparação Campos dos Buscadores*/
    #searchEngine.motor_tab_top.show_tabs>.content {
        background-color: #fff !important;
        width: 400px !important;
        display: table !important;
        margin: 0px auto !important;
        float: none !important;
        padding: 10px !important;
    }
    .search_engine_v2.air.label_top .passengers label small, .search_engine_v2.hotel>.content .rooms>li label p small {
        color: #777 !important;
        font-size: 10px !important;
    }
    /* Aereo */
    .search_engine_v2>.content .radio.way label * {
        color: #777 !important;
    }
    .search_engine_v2>.content label p {
        color: #777 !important;
    }
    .radio.way {
        display: inline-flex !important;
        flex-direction: center !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 30px !important;
    }
    .search_engine_v2.custom_engine.air .destination {
        width: 100% !important;
    }
    label.children.select {
        font-size: 12px !important;
    }
    /* Monte seu Pacote */
    #searchEngine>.content.dynamicpackage .advanced.travelers.passengers .content .travelers_ages .ages li label.package-hotel {
        display: none;
    }
    .search_engine_v2.dynamicpackage .travelers>.content .travelers_ages p {
        color: #777 !important;
    }
    .search_engine_v2.dynamicpackage .travelers>.content .travelers_ages p {
        color: #777 !important;
    }
    #searchEngine>.content.dynamicpackage .advanced.travelers.passengers .content .travelers_ages .ages li label {
        width: 50px !important;
    }
    #searchEngine>.content.dynamicpackage .advanced.travelers.passengers .content .travelers_ages .ages li {
        width: max-content !important;
    }
}