@media screen and (max-width: 700px) {
    .user_info_container {
        margin-top: 0px !important;
        width: 80% !important;
        display: inline-flex;
        flex-direction: center !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .userinfo_login {
        width: 100% !important;
        background-color: transparent !important;
    }
    .userinfo_login_container.w-100 {
        width: 100% !important;
        padding: 0px !important;
    }
    label.labelline {
        color: #fff !important;
    }
    label.labelline a{
        color: #fff !important;
    }
    div#userinfo_login .userinfo_login_container .extra span.balance.item2{
        padding-left: 55px;
    }
}