
*{
    margin: 0px;
    padding: 0px;
}
header.main {
    margin: 0px;
    height: 70px;
}
header.main .wrap{
    width: 100%;
    display: inline-flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
h1.logo {
    width: 32%;
}
img.desktop {
    display: none;
}
img.mobile {
    width: 110px;
}
header.main .wrap h1.logo a {
    height: min-content;
    display: flex;
    margin-left: 10px;
}
.mobile_header.menuLeft {
    width: 68%;
}

.menu-mobile {
    height: 70px;
    display: inline-flex;
    width: 20%;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}