*{
    margin: 0px;
    padding: 0px;
}
header.main {
    margin: 0px;
    height: 70px;
}
header.main .wrap{
    width: 100%;
    display: inline-flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
h1.logo {
    width: 20%;
}
img.desktop {
    display: none;
}
img.mobile {
    width: 110px;
}
.mobile_header.menuLeft {
    width: 80%;
}