/* RESET PAGINA */
.vc_column-inner{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0px I !important;
}

/* BANNER */
.conheca-viaje-svg-banner {
    position: absolute;
    width: 100%;
    top: 0;
}
.conheca-viaje-svg-banner svg {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.h1_banner {
    position: absolute;
    top: 169px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    width: 100%;
    font-size: 115px;
    left: 98px;
    text-shadow: 2px 2px 2px #000;
}
.h2_banner {
    position: absolute;
    top: 131px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    width: 100%;
    font-size: 45px;
    left: 10px;
}

/* MENU */
.topico_menu_vermelho {
    background-color: #f90c51;
    width: 10%;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0px 21px 21px 0px;
    display: inline-block;
    float: left;
}

ul#topico_menu {
    float: left;
    padding: 0;
    margin: 0px;
    height: 40px;
    width: 80%;
    text-align: center;
    margin: 0px auto;
}

ul#topico_menu li {
    float: left;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

ul#topico_menu li a {
    text-decoration: none;
}