/* CONFIGURAÇÃO PAGINA */
.vc_column_container>.vc_column-inner{
    padding-left: 0px;
    padding-right: 0px;
}

/* BANNER */
.passagens-aereas-banner{
    max-height: 424px;
    margin-bottom: 0px !important;
}
.passagens-aereas-banner figure img{
    max-height: 424px;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
    margin-bottom: 0px;
}
code {
    position: absolute;
    top: 224px;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    width: auto;
    font-size: 85px;
    right: 632px;
    text-shadow: 2px 2px 2px #000;
}
/* Motor Busca */
div#searchEngine{
    margin-top: 0px !important;
}
.destinationContainer{
    width: 100%;
}
.search_engine_v2 >.content >h2{
    color: #fff;
    font-weight: 600;
    width: auto;
    font-size: 22px;
    right: 632px;
    text-shadow: 2px 2px 2px #000;
    padding: 0px 0px 20px 0px;
}
.destination {
    width: 100%;
}

label.going_to,
label.from,
label.date {
    width: 50%;
}

label small{
    display: none;
}

.search_engine_v2 >.content .advanced.settings {
    display: none;
}

.advanced.travelers.passengers {
    width: 100% !important;
}
.content {
    margin-bottom: 20px;
}


/* GRID DE PREÇOS AÉREO */
.grid-promo-passagens{
    margin: 15px 0px;
}
#main ul{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
#main ul li {
    width: 48%;
    height: auto;
    margin: 0px;
    padding: 10px 5px;
    float: left;
    list-style: none;
}
#main li ul li{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 10px 5px;
    float: left;
    list-style: none;
}
.titleH1{        
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    color: #333;
    line-height: 30px;
    display: inline-flex;
    float: none;
    vertical-align: text-bottom;
}
#main li h3{
    width: 50%;
    height: auto;
    float: left;
    color: #428cca;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -.19px;
    fill: #0164bf;
}
#main li div{
    width: 45%;
    height: auto;
    float: left;
    color: #fe7000 !important;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -.19px;
    display: block;
}
#main li a{
    display: inline;
    white-space: nowrap;
    letter-spacing: -.19px;
    margin: 0;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px  !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #428cca !important;
}
#main li a:hover {
    zoom: 1;
    opacity: .8;
}
.escuro{
    background-color: #ebebeb !important;
}
.span-idavolta{
    width: 50%;
    color: #777777;
    display: block;
    float: left;
}
.span-apartir{
    width: 50%;
    color: #777777;
    display: block;
    float: left;
    text-align: center;
}
.select-aereo {
    margin: 0px 0px 0px 5px;
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
    line-height: 30px;
    display: inline-block;
    float: none;
    vertical-align: middle;
    border: 0px;
    width: auto;
    background-color: #fe7000 !important;
}
#main div{
    display: none;
}
#main div[id="mg"]{
    display: block;
}
.tabela-aereo{
    width: 100%;
    height: max-content;
}
.tabela-aereo td{
    text-align: center;
    padding: 10px 5px;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -.2px;
}
.check{
    color: #6aea6a !important;
}
.condicoes{
    color: #777777;
}

@media screen and (max-width: 600px) {
    .search_engine_v2 {
        width: 100% !important;
    }
    .vc_column_container>.vc_column-inner {
        padding-left: 0px !important;    
        padding-right: 0px !important;
    }
    a#btnSearch {
        display: block !important;
        width: 89% !important;
        float: none !important;
    }
}


img.vc_single_image-img.attachment-full {
    height: 350px;
    object-fit: cover;
}
code.texto-conheca-viaje {
    top: 110px;
    left: 70px;
    text-align: left;
    font-size: 3vw;
    width: 87%;
}
.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
    position: absolute;
    top: 182px;
    left: 103px;
}