/* CONFIGURAÇÃO PAGINA */
.vc_column_container>.vc_column-inner{
    padding-left: 0px;
    padding-right: 0px;
}

/* BANNER */
.passagens-aereas-banner{
    max-height: 424px;
}
.passagens-aereas-banner figure img{
    max-height: 424px;
}
code {
    position: absolute;
    top: 224px;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    width: auto;
    font-size: 85px;
    right: 632px;
    text-shadow: 2px 2px 2px #000;
}