*{
    background-color: transparent;
}

div#searchEngine {
    background-color: #f90c51;
}
label.label.name_hotel {
    display: none !important;
}
.search_engine_v2.hotel.custom_engine > .content .date {
    width: 10% !important;
}
.search_engine_v2.hotel.custom_engine > .content .destination {
    width: 25% !important;
}
.search_engine_v2.hotel.custom_engine > .content .rooms > li .select {
    width: 15% !important;
}
.search_engine_v2 .content .advanced.travelers label {
    display: none;
}
a#btnSearch {
    float: right;
}

.search_engine_v2 label.select:after{
    display: none !important;
}