/* RESET PAGINA */
.vc_column-inner{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.wpb_single_image.wpb_content_element.vc_align_center{
    margin-bottom: 0px;
}

/* BANNER */
.conheca-viaje-svg-banner {
    position: absolute;
    width: 100%;
    top: 0;
}
.conheca-viaje-svg-banner svg {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.h1_banner {
    position: absolute;
    top: 163px;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    width: 50%;
    font-size: 115px;
    left: 95px;
    text-shadow: 2px 2px 2px #000;
}
.h2_banner {
    position: absolute;
    top: 131px;
    /* display: flex; */
    flex-direction: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    width: 50%;
    font-size: 45px;
    left: 100px;
}

/* MENU */
.topico_menu_vermelho {
    background-color: #f90c51;
    width: 10%;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0px 21px 21px 0px;
    display: block;
    float: left;
}
.secao_menu_topicos{
    height: 40px;
    margin-bottom: 0px !important;
}
ul#topico_menu {
    float: left;
    padding: 0;
    margin: 0px;
    height: 40px;
    width: 80%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

ul#topico_menu li {
    float: left;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

ul#topico_menu li a {
    text-decoration: none;
    font-size: 16px;
}
ul#topico_menu li a:hover {
    color: #f90c51;
}

/* PACOTES */
.cv_pacotes_em_destaque {
    border-top: 1px solid rgb(5, 64, 211);
}

/* HISTORIA DESTINO */
.wpb_video_widget.wpb_content_element.vc_clearfix.vc_video-aspect-ratio-169.vc_video-el-width-100.vc_video-align-left{
    margin-bottom: 0px;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
    margin-bottom: 0px;
}
.cv_historia_video{
    height: 352px;
    vertical-align: middle;
    padding: 0px;
}
div#rev_slider_87_1_wrapper {
    height: 352px;
}
.cv_historia_texto{
    height: 352px;
}
code {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: justify;
    padding: 10px;
    margin-left: 140px;
}
.cv_historia_texto p{
    border-top: 3px solid #f90c51;
    border-right: 3px solid #f90c51;
    border-bottom: 3px solid #f90c51;
    margin-left: -140px;
}