
@media screen and (max-width: 700px) {
    header.main .logo a img.mobile{
        width: 110px;
        margin: 0px 0 0 0px !important;
        margin-left: 10px !important;
    }
    .wrap>.mobile_header.menuLeft {
        width: 70% !important;
        float: right;
    }
    header.main ul.aside {
        right: 0 !important;
        top: 0 !important;
        z-index: 0 !important;
        display: flex !important;
        width: 100% !important;
        justify-content: flex-start !important;
        flex-direction: center !important;
        align-items: center !important;
        position: initial !important;
    }
    .user_info_container{
        margin-right: 0px !important;
    }
    .user_info_container .userinfo_logged_out{
        margin-top: 20px !important;
    }
    .userinfo_login_container.w-100{
        width: 185px;
        padding: 5px !important;
    }
}