
@media screen and (max-width: 700px) {
    header.main .logo a img.mobile{
        width: 110px;
        margin: 0px 0 0 0px !important;
        margin-left: 10px !important;
    }
    .wrap>.mobile_header.menuLeft {
        width: 70% !important;
    }
}